#table {
    display:table;
    margin: 20px auto;
}

.row  {
    display:table-row; 
    height: 40px;
}

.row.main{
    color: #033a56;
    font-weight: bold;
}

.cell {
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    width: 50px;
}

.cell.id{
    width: 50px;
    background-color: #b0e8db;
}

.cell.name{
    width: 200px;
    background-color: #f9f968;
}

.cell.email{
    width: 400px;
    background-color: #a4fba4;
}

.cell.active{
    width: 100px;
    background-color: #fe7861;
}
